# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
blackjack
test_blackjack
test_curses

# Debug files
*.dSYM/
*.log

# Eclipse project files
\.cproject
\.project

\.metadata/

Managed Build \(Release\)/

\.settings/

# Netbeans project files
/nbproject/